<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>选项卡视图同步滚动测试.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2810344B1C602268006D674E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>281034641C60226B006D674E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2810346F1C60226B006D674E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
